* text=auto
.gitattributes text eol=lf
LICENSE-* text eol=lf
*.cjs text eol=lf
*.gif binary
*.html text eol=lf
*.jsonl text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.rs text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.yml text eol=lf
